<div {{ attributes }}>
  {% block example_block %}
    <footer class="static mt-12 flex flex-row flex-nowrap justify-between items-center max-w-screen-xl mx-auto">
      <div class="flex flex-nowrap">
        {{ page.secondary_menu }}
      </div>
    </footer>
  {% endblock %}
</div>
